.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  /* your code here */
  right: 550px;
  top: 20px;
}

#charmander {
  /* your code here */
  right: 540px;
  top: 40px;
}

#squirtle {
  /* your code here */
  right: 530px;
  top: 70px;
}

#pikachu {
  /* your code here */
  right: 520px;
  top: 150px;
}

#jigglypuff {
  /* your code here */
  right: 510px;
  top: 300px;
}
