body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  flex-basis: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.row {
  padding: 10px;
  display: flex;
}

.column-one-third {
  display: flex;
  padding: 5px;
}

.align-content {
  align-content: flex-end;
}

.column-one-fourth {
  display: flex;
  flex-basis: calc(100%/4);
}

.column-two-third {
  display: flex;
}

.column-one-fourth > img {
  width: 100%;
}
